#simscreen
{
	position: relative;
	left:0px;
	top:0px;
	height: 600px; 
	width:800px;
	border:solid 1px;
	background-color:white;
}

#title{
	position:relative;
	left: 0px;
	top: 0px;
	height:40px;
	font-size: 24px;
	text-align:center;
	background-color: black;
	font-family: verdana;
	color: White;
	text-transform: uppercase; 
}

#title h5
{
	padding-top:2px;
	margin:0px;
}	

.simsubscreen
{
	position:absolute;
	left:50px;
	top:50px;
	height:530px;
	width:745px;
}

.incanvas
{
	margin:5px 0 0 5px;
	padding:0;
	font-size:16px;
}

#nextButton
{
	position:absolute;
	left:750px;
	top:530px;
	cursor:pointer;
}
#prevButton
{
	position:absolute;
	left:750px;
	top:530px;
	cursor:pointer;
	visibility:hidden;
}

.circlebg
{
	border-radius:100%;
	font-size:25px;
	color:#fff;
	text-align:center;
	background:#000
}

.steptext
{
	display:inline;
	font-size:14px;
}

#copyright{
	position: absolute;
	left:60px;
	top: 580px;
	font-size:12px
}
/* body { */

	/* text-align: center; */
	/* font-size: 18px; */
	/* background-size: cover; */
	/* color: #fff; */
	/* font-family: sans-serif; */
	/* margin: 0; */
	/* padding-top: 0; */
/* } */
html
{
	-moz-user-select     : none;
	-khtml-user-select   : none;
	-webkit-user-select  : none;
	-o-user-select       : none;
	user-select          : none;
}
/* h5 { */
	/* position:relative; */
	/* font-family: verdana; */
	/* top:5px; */
	/* font-size: 20px; */
	/* margin: 5px; */
	/* padding-top: 10px; */
	/* padding-left: 10px; */
	/* color:grey; */
/* } */

h4{
	font-size: 24px;
}

/* a { */
	/* padding: 10px 25px; */
	/* background-color: #4CA74C; */
	/* color: #fff; */
	/* border-radius: 25px; */
	/* text-decoration: none; */
/* } */



#mySlider {
	overflow: hidden;
    position: absolute;
    width: 500px;
    height: 300px;
	left:180px;
	top:180px;
	border:5px lightgrey solid;'
	border-radius:25px;
	border-style:ridge;
}

#form0{
	overflow: hidden;
    position: absolute;
    width: 300px;
    height: 300px;
	left:350px;
	top:100px;
	border:5px lightgrey solid;'
	border-radius:25px;
	border-style:ridge;
	padding:0px;
	visibility:hidden;
}



.singleSlide {

	background-size: cover;
	height: 300px;
	position: absolute;
	left: 500px;
	width: 100%;
	top: 0px;
}

.slideOverlay {
	background-color: rgba(0, 0, 0, 0);
	padding-left: 0px;
	padding-top: 0px;
}
	
	

#sliderNav {
	position: relative;
	left:270px;
	top:-270px;
	width:250px;
}

#sliderNav1 {
	position: absolute;
	left:25%;
	top:50%;
	width:100%;
	font-size:60px;
}


* {box-sizing: border-box;}

.img-zoom-container {
  position: absolute;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  position:absolute;
  left:50px;
  top:350px;
  width: 200px;
  height: 200px;
}

#sliderNav:hover { cursor: pointer;}
#sliderNav1:hover { cursor: pointer;}

#sliderPrev {
	position: relative;
	float: left;
	left: -70px;
	top:50%;

}
#sliderPrev1 {
	position: relative;
	float: left;
	left:-20%;
	top:-100%;
	font-size:25px;
	/* left: -70px; */

}

#sliderNext {
	position: relative;
	float: right;
	right: -155px;
}

#sliderNext1 {
	position: relative;
	float: right;
	left:-30%;
	top:-100%;
	font-size:25px;

	/* right: -155px; */
}
#maxMin {
	position: relative;
	float: right;
	left:-30%;
	top:80%;
	font-size:25px;

	/* right: -155px; */
}

#form1,#form2,#form3,#form4,#form5,#form6,#form7,#form8,#form9,#form10{
	position:absolute;
	left:250px;
	top:80px;
	font-size:14px;
	font-family:verdana;
	visibility:hidden;
}

#form10 {
	position:absolute;
	left:150px;
	top:80px;
	font-size:14px;
	font-family:verdana;
	visibility:hidden;
}

.formStyle input{
	/* position:absolute; */
	display:inline;
	margin:15px 10px;
	padding:20px;
	box-shadow:-2px -2px -2px; 
}

.formStyle select{
	/* position:absolute; */
	display:inline;
	margin:15px 10px;
	padding:10px;
}



.formStyle div p{
	/* position:absolute; */
	display:block;
	/* margin:15px 10px; */
	/* padding:20px; */
	text-align:center;
}


.formStyle input[type=button]{
	/* position:absolute; */
	display:inline;
	margin:15px 10px;
	padding:10px;
	cursor:pointer;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
	font-family: verdana;
	font-size:14px;
}

.tooltip .tooltiptext {
	font-family: verdana;
	font-size:14px;
	visibility: hidden;
	width: 400px;
	background-color: black;
	color: #fff;
	border-radius: 6px;
	padding: 10px 10px 10px 10px;
	/* Position the tooltip */
	left:0px;
	top:20px;
	position: absolute;
	z-index: 100;
	text-align:justify;
	/* display:none; */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
    /* display: inline-block; */

}

form input[type=button]{
	box-shadow:5px 5px 5px;
}
	
	
	
#identity{
	position:absolute;
	left:150px;
	top:200px;
	font-family:verdana;
	font-size:0px;
	visibility:hidden;
	color:grey;
	opacity:0;
	transition:all 500ms linear;
}

#message{
	position:absolute;
	left:200px;
	top:100px;
	font-family:verdana;
	font-size:20px;
	visibility:hidden;
	color:grey;
	visibility:hidden;
	padding:10px;
	border:2px solid black;
		border-style:ridge;
	box-shadow:10px 10px 5px;
	/* opacity:0; */
	transition:box-shadow 500ms linear;

	/* opacity:0; */
	/* transition:all 500ms linear; */
}

#identity.fontZoom {
	opacity:1;	
	font-size:25px; 
	/* visibility:visible; */
}

#c1,#c2,#c3,#c4,#c5,#c6,#c7,#c8,#c10{
	color:green;
}

#w1,#w2,#w3,#w4,#w5,#w6,#w7,#w8{
	color:red;
}
	

#c9{
	visibility:hidden;
}

#showAns{
	position:absolute;
	left:350px;
	top:100px;
	visibility:hidden;
}

#showAns img {
	position:relative;
	left:-50px;
	top:20px;
	border:2px solid black;
}	
	
@-webkit-keyframes slideIn {
    100% { left: 0; }
}

@keyframes slideIn {
    100% { left: 0; }
}

@-webkit-keyframes slideIn1 {
    100% { opacity:1 ; }
}

@keyframes slideIn1 {
    100% { opacity: 1; }
}

.slideShow{
	visibility:visible;
}

.slideHide{
		visibility:hidden;

}


.slideInRight {
	left: -100%;
	-webkit-animation: slideIn 1s forwards;
    animation: slideIn 1s forwards;
}

.slideInLeft {
	left: 100%;
	-webkit-animation: slideIn 1s forwards;
    animation: slideIn 1s forwards;
}

.slideInRight1 {
	left: -100%;
	-webkit-animation: slideIn 0s forwards;
    animation: slideIn 0s forwards;
}

.slideInLeft1 {
	left: 100%;
	-webkit-animation: slideIn 0s forwards;
    animation: slideIn 0s forwards;
}




@-webkit-keyframes slideOutLeft {
    100% { left: -100%; }
}

@keyframes slideOutLeft {
    100% { left: -100%; }
}

.slideOutLeft {
	-webkit-animation: slideOutLeft 1s forwards;
    animation: slideOutLeft 1s forwards;
}

.slideOutLeft1 {
	-webkit-animation: slideOutLeft 0s forwards;
    animation: slideOutLeft 0s forwards;
}

@-webkit-keyframes slideOutRight {
    100% { left: 100%; }
}

@keyframes slideOutRight {
    100% { left: 100%; }
}

.slideOutRight {
	-webkit-animation: slideOutRight 1s forwards;
    animation: slideOutRight 1s forwards;
}
.slideOutRight1 {
	-webkit-animation: slideOutRight 0s forwards;
    animation: slideOutRight 0s forwards;
}

